.floating-menu {
    position: fixed;
    top: 50%; /* Ajusta la altura para que esté en el medio de la página */
    left: 0;
    transform: translateY(-50%);
    width: 60px; /* Ancho inicial del menú */
    background-color: #333;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    z-index: 999;
    height: auto; /* Para ajustar al contenido */
    font-size: 12px;
}

.floating-menu-toggle {
    color: #fff;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    padding: 15px;
}

.floating-submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    white-space: nowrap;
    font-size: 12px;
}

.floating-submenu li {
    padding: 10px;
}

.floating-submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #444;
}

.floating-submenu li a:hover {
    background-color: #555;
}

.floating-menu.open {
    width: auto; /* Ajusta el ancho al contenido */
    height: auto; /* Ajusta la altura al contenido */
}
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul.menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    nav ul.menu > li {
        width: 100%;
    }

    nav ul.menu > li > a {
        width: 100%;
        text-align: left;
    }

    nav ul.submenu, nav ul.subsubmenu {
        position: static;
        flex-direction: column;
    }

    nav ul.subsubmenu > li {
        width: auto;
    }

    nav ul.submenu > li > a, nav ul.subsubmenu > li > a {
        padding-left: 30px;
    }

    nav ul.menu.active {
        display: flex;
    }

    .floating-menu {
        width: 100%; /* Menú ocupa todo el ancho en pantallas pequeñas */
        transform: translateY(0);
    }

    .floating-menu-toggle {
        text-align: center;
    }

    .floating-submenu li a {
        text-align: center;
    }
}