/* Estilos para la página de autores */

/* Estilos para el título principal en el main */
.main-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 150px;
}

.team-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.team-member {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.team-member:hover img {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.team-member:hover .description {
    opacity: 1;
}

/* Estilo de team-info para que esté siempre visible */
.team-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    box-sizing: border-box;
    position: relative;
    scroll-margin-top: 20px;
}

/* Estilo adicional para hacer que el anclaje se vea destacado */
#team-info:target {
    border: 2px solid #007BFF;
    background-color: #f0f8ff;
}

.member-photo {
    margin-right: 20px;
    margin-bottom: 20px;
}

.member-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* para que no se vea en un principio */
.team-info {
    display: none;
}

.member-info {
    text-align: left;
    width: calc(100% - 220px);
}

.member-info h2 {
    margin-bottom: 10px;
}

.member-info h3 {
    margin-bottom: 10px;
    font-weight: normal;
    color: #555;
}

.member-info p {
    margin: 0;
    text-align: justify;
    width: 100%;
}

@media (max-width: 768px) {
    .team-row {
        flex-direction: column;
        align-items: center;
    }
    
    .team-member {
        margin: 10px 0;
    }
    
    .team-info {
        padding: 10px;
    }
}


