.contenedor1 {
	margin: auto;
	display: table;
}

.contenedor1 h2 { 
	position: relative; 
	float: left;
	background:  #2e64a1;
	color: #fff;
	font-size: 1.5em;
}

.contenedor1 h2 span {
    position:absolute;
    right:0;
    width:0;
    background:  #2e64a1;
    border-left: 1px solid #fff;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}



